@import '~antd/dist/antd.css';

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.card {
  border: 1px solid ;
  border-radius:5px;
  background: #F5F5F5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}
.col-data{
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
  width: 80%;
  margin: auto;
  flex-flow: row wrap;
}
.col-data-item{
  display:flex;
  align-self: flex-start;
  width: 40%;
height: 40%;
margin: 10px 0;
}

.col-button {
display:flex;
width: 15%;
flex-direction: column;
}


.but{
margin: 10px 5px;
padding: 2px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}